* {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
font-weight: 600;
} 

td {
width: 5vw;
border: 1px solid black;
text-align: center;
} 

.noBorder {
border: none;
}

.headingOne {
background-color: yellow;
padding: 1%;
font-size: 5vw;
}

._color_1 {
background-color: #ff9966;
}

.color_2 {
background-color: #dda0dd;
}

.color_3 {
background-color: #90c7ff;
}

.color_4 {
background-color: #fceff0;
}

.color_5 {
background-color: #fff28e;
}

.color_6 {
background-color: #c79810;
}

.color_7 {
background-color: #cdeb8b;
}

.color_8 {
background-color: #ebdca9;
}

.color_9 {
background-color: #e6e6fa;
}

.color_10{
    background-color: #fff;
}

.text_color_green {
color: green;
}

.text_color_blue {
color: blue;
}

.text_color_red {
color: red;
}